@model Reservation

@{
    ViewBag.Title = "Order | Update";

    var rs = Model;
    var days = rs.CheckOut.DayNumber - rs.CheckIn.DayNumber;
    var total = rs.Price * days;
    var currentDay = DateOnly.FromDateTime(DateTime.Now);

}

<form asp-action="Update" asp-controller="Reservation" method="post">
    <input type="hidden" name="Id" value="@rs.Id" />

    <table class="table table-bordered table-hover">
        <tr>
            <th>Id</th>
            <td>@rs.Id</td>
        </tr>
        <tr>
            <th>Transaction ID</th>
            <td>@rs.Payment.TransactionId</td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td>@rs.Payment.PaymentMethod</td>
        </tr>
        <tr>
            <th>Member</th>
            <td>@rs.Member.Name (@rs.Member.Email)</td>
        </tr>
        <tr>
            <th>Room</th>
            <td>@rs.Room.Id (@rs.Room.RoomTypes.Id)</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@rs.Room.RoomTypes.Price</td>
        </tr>
        <tr>
            <th>Check In</th>
            <td>@rs.CheckIn.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>Check Out</th>
            <td>@rs.CheckOut.ToString("yyyy-MM-dd")</td>
        </tr>
        <tr>
            <th>Days</th>
            <td>@days</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>@total</td>
        </tr>
        @* <tr>
            <th>Paid</th>
            <td>
                <select name="Paid" class="form-select">
                    <option value="true"
                            selected="@(Model.Paid)">Yes</option>
                    <option value="false"
                            selected="@(!Model.Paid)">No</option>
                </select>
            </td>
        </tr> *@
        <tr>
            <th>Action</th>
            <td>
                @if (rs.Payment.Status == "Complete" && rs.Payment.PaymentMethod == "Paypal")
                {
                    <button class="btn btn-danger" data-get="/Checkout/RefundPayment?id=@rs.Payment.Id">Refund</button>
                }

                @if (rs.Payment.Status == "Complete" && rs.Payment.PaymentMethod == "E-Wallet")
                {
                    <button class="btn btn-danger" data-get="/Payment/QrRefund?paymentId=@rs.Payment.Id">Refund</button>
                }
            </td>
        </tr>
    </table>

    <section>
        <button class="btn btn-secondary" data-get="Index">Back</button>
        <button class="btn btn-success" type="submit">Save</button>
        @if(rs.CheckIn > currentDay && rs.Payment.Status == "Completed")
        {
            <button class="btn btn-danger" data-get="/Checkout/RefundPayment?id=@rs.Payment.Id">Refund</button>
        }
    </section>
</form>
