@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<User>

@{
    string[] fields = ["Email", "Name", "Role", "Active"];
}

@Html.Hidden("sort", "", new { form = "f" })
@Html.Hidden("dir", "", new { form = "f" })

<p>
    <button class="btn btn-success" data-get="/User/AddAdmin">New Admin</button>
</p>

<p>
    @Model.Count() of @Model.TotalItemCount record(s) |
    Page @Model.PageNumber of @Model.PageCount
</p>

<table class="table table-bordered table-hover">

    <tr>
        @foreach (var f in fields)
        {
            string d = "asc";
            string c = "";

            if (f == ViewBag.Sort)
            {
                d = ViewBag.Dir == "des" ? "asc" : "des";
                c = ViewBag.Dir;
            }

            <th>
                <a data-ajax="true"
                   data-ajax-update="#target"
                   data-ajax-loading="#loader"
                   href="?name=@ViewBag.Name&sort=@f&dir=@d" class="@c">@f</a>
            </th>
        }
        <th>More</th>
    </tr>

    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Email</td>
            <td>@u.Name</td>
            <td>@u.Role</td>
            <td>@u.Active</td>
            <td>
                <div class="btn-group ">
                    <button class="btn btn-primary btn-sm" data-get="/User/Detail?id=@u.Id">Detail</button>

                    @if (u.Active == true)
                    {
                        <button class="btn btn-danger btn-sm"  data-bs-toggle="modal" data-bs-target="#myModal">Deactivate</button>
                    }
                    else
                    {
                        <button class="btn btn-success btn-sm" data-get="/User/ActiveUser?id=@u.Id">Active</button>
                    }

                </div>
            </td>
        </tr>
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Confirmation Message</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Are you sure you want to deactivate this user account?
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-get="/User/ActiveUser?id=@u.Id">Confrim</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    }
</table>



@{
    var options = PagedListRenderOptions.ClassicPlusFirstAndLast;
    options.LinkToFirstPageFormat = "First";
    options.LinkToLastPageFormat = "Last";
    options.LinkToPreviousPageFormat = "Previous";
    options.LinkToNextPageFormat = "Next";

    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "get",
        UpdateTargetId = "target",
        LoadingElementId = "#loader",
    };
}

@Html.PagedListPager(
Model,
p => $"?name={ViewBag.Name}&sort={ViewBag.Sort}&dir={ViewBag.Dir}&page={p}",
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(options, ajaxOptions)
)
